supa_pwd=
JWT_SECRET_KEY=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=
SUPABASE_URL=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440


# ── Admin Credentials ──
ADMIN_EMAIL=admin@scamshield.in
ADMIN_PASSWORD=Admin@2026

# ── Demo User Credentials ──
DEMO_EMAIL=demo@scamshield.in
DEMO_PASSWORD=Demo@2026
